<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <h1>Bienvenido <span th:text="${name ?: 'Usuario'}"></span>!</h1>
    <p>Email: <span th:text="${email ?: 'No disponible'}"></span></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Cerrar sesión"/>
    </form>
</div>

</body>
</html>